In [1]:
a=("apple","banana","mango")
a

('apple', 'banana', 'mango')

# Tuples

In [4]:
list(a)

['apple', 'banana', 'mango']

In [5]:
a

('apple', 'banana', 'mango')

In [6]:
set(a)

{'apple', 'banana', 'mango'}

In [7]:
type(a)

tuple

In [8]:
a[1]

'banana'

In [9]:
a[-1]

'mango'

In [11]:
a.index("mango")

2

In [23]:
fruits="kiwi pineapple orange"
fruits

'kiwi pineapple orange'

In [24]:
fruits=fruits.split()

In [25]:
fruits

['kiwi', 'pineapple', 'orange']

In [26]:
type(fruits)

list

In [27]:
type(a)

tuple

In [28]:
a

('apple', 'banana', 'mango')

In [30]:
fruits.extend(a)

In [31]:
fruits

['kiwi', 'pineapple', 'orange', 'apple', 'banana', 'mango']

In [35]:
a[:3]

('apple', 'banana', 'mango')

In [36]:
a[1:]

('banana', 'mango')

In [49]:
a[3:]

()

In [50]:
a[:-3]

()

In [ ]:
a.extend(fruits)#this will not work as tuples are unchangeble

In [57]:
a[-3:-1]

('apple', 'banana')

In [52]:
a[1:-1]

()

In [53]:
fruits[1:-1]

['pineapple', 'orange', 'apple', 'banana']

In [56]:
fruits[-1:1]

[]

In [58]:
if "mango" in a:
    print("true")

true

In [59]:
if "pineapple" not in a:
    print("true")

true

In [60]:
b=list(a)#to update any tuple we have to change it to a list as tuples unchangeble

In [61]:
b[1]="chiku"

In [62]:
a=tuple(b)
a

('apple', 'chiku', 'mango')

In [63]:
for i in a:
    print(i)

apple
chiku
mango

In [66]:
(abc,bca,cba)=a
print(abc)

apple

In [67]:
print(bca)

chiku

In [68]:
a

('apple', 'chiku', 'mango')

In [69]:
fruits

['kiwi', 'pineapple', 'orange', 'apple', 'banana', 'mango']

In [71]:
frui=[]
for i in fruits:
    if "e" in i:
        frui.append(i)
print(frui)

['pineapple', 'orange', 'apple']

In [78]:
[tre,ert,*rte]=fruits

In [79]:
rte

['orange', 'apple', 'banana', 'mango']

In [74]:
abc

'apple'

In [75]:
type(tre)

str

In [76]:
type(a)

tuple

In [77]:
type(frui)

list

In [81]:
a

('apple', 'chiku', 'mango')

In [103]:
i=0
while i<len(a):
    print(a[i])
    i=i+1

apple
chiku
mango

In [104]:
i

3

In [106]:
i=0
while i<len(fruits):
    print(fruits[i])
    i+=1

kiwi
pineapple
orange
apple
banana
mango

In [107]:
i

6

In [101]:
fruits

['kiwi', 'pineapple', 'orange', 'apple', 'banana', 'mango']

In [112]:
len(fruits*2)

12

In [111]:
len(a*2)

6

In [110]:
len(a)

3

In [ ]:
#tuple methods
#count
#index

# Sets

In [113]:
a

('apple', 'chiku', 'mango')

In [114]:
a=set(a)

In [115]:
a

{'apple', 'chiku', 'mango'}

In [117]:
a[1:]#Sets are unordered, so you cannot be sure in which order the items will appear.

TypeError: 'set' object is not subscriptable

In [118]:
a*2 #duplicates not allowed

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [119]:
len(a)

3

In [126]:
for i in a:
    print(a)

{'mango', 'chiku', 'apple'}
{'mango', 'chiku', 'apple'}
{'mango', 'chiku', 'apple'}

In [129]:
for i in a:
    print(a)

{'mango', 'chiku', 'apple'}
{'mango', 'chiku', 'apple'}
{'mango', 'chiku', 'apple'}

In [130]:
i

'apple'

In [131]:
a.append("aalu")

AttributeError: 'set' object has no attribute 'append'

In [132]:
a.add("aalu")

In [133]:
a

{'aalu', 'apple', 'chiku', 'mango'}

In [134]:
fruits

['kiwi', 'pineapple', 'orange', 'apple', 'banana', 'mango']

In [137]:
tre

'kiwi'

In [138]:
type(tre)

str

In [143]:
tre.format(fruits)

'kiwi'

In [141]:
type(tre)

str

In [144]:
my="robin is a robber"
my.replace("robin","Arjun")

'Arjun is a robber'

In [147]:
a.update("Arjun")

In [150]:
a

{'A', 'aalu', 'apple', 'chiku', 'j', 'mango', 'n', 'r', 'u'}

In [154]:
a.update(fruits)

In [155]:
a

{'A',
 'aalu',
 'apple',
 'banana',
 'chiku',
 'j',
 'kiwi',
 'mango',
 'n',
 'orange',
 'pineapple',
 'r',
 'u'}

In [156]:
b=[]
for i in a:
    if i not in fruits:
        b.append(i)
b

['r', 'j', 'u', 'chiku', 'aalu', 'n', 'A']

In [157]:
fruits

['kiwi', 'pineapple', 'orange', 'apple', 'banana', 'mango']

In [158]:
fruits.remove("kiwi")

In [159]:
a.remove('r')

In [165]:
a=b
a

['r', 'j', 'u', 'chiku', 'aalu', 'n', 'A']

In [166]:
a=tuple(a)

In [169]:
a=set(a)

In [171]:
a.remove('r')

In [174]:
a.remove('A')

In [175]:
a.remove('u')

In [176]:
a

{'aalu', 'chiku', 'j', 'n'}

In [177]:
a.remove('j')

In [178]:
a.remove('n')

In [179]:
a.discard('chiku')

In [180]:
a

{'aalu'}

In [181]:
a.update(frui)

In [182]:
a

{'aalu', 'apple', 'orange', 'pineapple'}

In [184]:
a.pop() #Remove the last item using pop

'orange'

In [188]:
for i in a:
    print(i)

aalu
apple
pineapple

In [198]:
A=["app","mac","max","orange","or","y","kaalu","mann"]

In [190]:
A[0]

'app'

In [214]:
A= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [206]:
new_list=[]
for i in range(len(A)):
    if i!=0 or i!=4 or i!=5:
        new_list.append(A[i])
new_list

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [209]:
A=set(A)
print(A)
print(a)

{'Red', 'Pink', 'Yellow', 'Black', 'White', 'Green'}
{'aalu', 'apple', 'pineapple'}

In [215]:
a={'aalu', 'apple', 'pineapple'}

In [217]:
c=a.union(A) #Create a new set containing all the elements of both the sets
c

{'Black',
 'Green',
 'Pink',
 'Red',
 'White',
 'Yellow',
 'aalu',
 'apple',
 'pineapple'}

In [219]:
a.update(A) #insert elements of one set set to antoher
a

{'Black',
 'Green',
 'Pink',
 'Red',
 'White',
 'Yellow',
 'aalu',
 'apple',
 'pineapple'}

In [222]:
fruits=set(fruits)

In [224]:
c=fruits.intersection(a) #Create a seperate set for the common elements of two sets
c

{'apple', 'pineapple'}

In [235]:
d=fruits.symmetric_difference_update(a) #elements which are not common  set
print(d)

None

In [237]:
d=fruits.symmetric_difference(a)
d

{'Black',
 'Green',
 'Pink',
 'Red',
 'White',
 'Yellow',
 'aalu',
 'banana',
 'mango',
 'orange'}

In [238]:
c

{'apple', 'pineapple'}

In [239]:
d-c

{'Black',
 'Green',
 'Pink',
 'Red',
 'White',
 'Yellow',
 'aalu',
 'banana',
 'mango',
 'orange'}

# Dict

In [260]:
diction={"Kunal":"Khushi","Mango":"Aam","Banana":"Kela"}
diction

{'Kunal': 'Khushi', 'Mango': 'Aam', 'Banana': 'Kela'}

In [261]:
diction["Kunal"]

'Khushi'

In [262]:
diction.get("Mango")

'Aam'

In [263]:
diction.keys()

dict_keys(['Kunal', 'Mango', 'Banana'])

In [264]:
diction["Pineapple"]="Ananas"

In [265]:
diction

{'Kunal': 'Khushi', 'Mango': 'Aam', 'Banana': 'Kela', 'Pineapple': 'Ananas'}

In [266]:
diction.keys()

dict_keys(['Kunal', 'Mango', 'Banana', 'Pineapple'])

In [267]:
diction.values()

dict_values(['Khushi', 'Aam', 'Kela', 'Ananas'])

In [269]:
p=diction.items()
p

dict_items([('Kunal', 'Khushi'), ('Mango', 'Aam'), ('Banana', 'Kela'), ('Pineapple', 'Ananas')])

In [270]:
if "Kunal" in diction:
    print("yes")

yes

In [271]:
diction.update({"Pineapple":"Naspaati"}) #update is used to update values as well as add keys in dict

In [272]:
diction

{'Kunal': 'Khushi', 'Mango': 'Aam', 'Banana': 'Kela', 'Pineapple': 'Naspaati'}

In [273]:
diction.pop("Banana") #pop specified key-value
diction.popitem() #pop removes the last inserted value

('Pineapple', 'Naspaati')

In [274]:
diction

{'Kunal': 'Khushi', 'Mango': 'Aam'}

In [275]:
# del can be used to delete item as well as complete dictionary
del diction["Mango"]

In [276]:
diction

{'Kunal': 'Khushi'}

In [279]:
diction.clear()
diction

{}

In [280]:
diction.update({"Name":"Taapu","Age":26})

In [281]:
diction

{'Name': 'Taapu', 'Age': 26}

In [283]:
for i in diction:
    print(diction[i])

Taapu
26

In [284]:
for i in diction:
    print(i)

Name
Age

In [286]:
for x,y in diction.items():
    print(x,":",y)

Name : Taapu
Age : 26

In [287]:
diction.items()

dict_items([('Name', 'Taapu'), ('Age', 26)])

In [290]:
#to copy either use copy keyword or direct assign any empty dict equal to the dict
my_dictin=diction
my_dictin
ar_d=diction.copy()
print(ar_d)
#dict can also copy dictionary mydict=dict(thisdict)

{'Name': 'Taapu', 'Age': 26}

In [292]:
#nested dictionary
Kunal={"Age":22,"education":"b.tech","Job":"Engineer"}
Vikrant={"Age":16,"education":"intermediate","job":"student"}
Naman={"Age":24,"education":"BBA","job":"Businessman"}
friends={
    "Naman":Naman,
    "Kunal":Kunal,
    "Vikrant":Vikrant
}

In [293]:
Naman

{'Age': 24, 'education': 'BBA', 'job': 'Businessman'}

In [294]:
Vikrant

{'Age': 16, 'education': 'intermediate', 'job': 'student'}

In [295]:
Kunal

{'Age': 22, 'education': 'b.tech', 'Job': 'Engineer'}

In [301]:
Kunal["Age"]

22

In [302]:
Naman["job"]

'Businessman'

In [303]:
Vikrant["education"]

'intermediate'

In [304]:
friends

{'Naman': {'Age': 24, 'education': 'BBA', 'job': 'Businessman'},
 'Kunal': {'Age': 22, 'education': 'b.tech', 'Job': 'Engineer'},
 'Vikrant': {'Age': 16, 'education': 'intermediate', 'job': 'student'}}

In [305]:
diction

{'Name': 'Taapu', 'Age': 26}

In [306]:
Kunal.update({"Girlfriend":"Khushi"})

In [307]:
Kunal

{'Age': 22, 'education': 'b.tech', 'Job': 'Engineer', 'Girlfriend': 'Khushi'}

In [308]:
Kunal["Girlfriend"]

'Khushi'

In [309]:
Kunal.values()

dict_values([22, 'b.tech', 'Engineer', 'Khushi'])

In [310]:
Kunal.keys()

dict_keys(['Age', 'education', 'Job', 'Girlfriend'])

In [311]:
Kunal

{'Age': 22, 'education': 'b.tech', 'Job': 'Engineer', 'Girlfriend': 'Khushi'}

In [313]:
friends.get("Kunal")

{'Age': 22, 'education': 'b.tech', 'Job': 'Engineer', 'Girlfriend': 'Khushi'}

# Functions

In [317]:
def Kunal():
    print("Kunal")
    print("Student")
    print("Age = 22")
Kunal()

Kunal
Student
Age = 22

In [318]:
Kunal()

Kunal
Student
Age = 22

In [328]:
def Age(Age):
    print(Age," years old")
Age(21)

21  years old

In [322]:
Kunal()

Kunal
Student
Age = 22

In [324]:
Age("Kunal")

<function Age at 0x00000224FA01A438>  years old

In [325]:
def name():
    print("Hakuna matata")
    print("HAnuman ji")
print("krishna")

krishna

In [326]:
name()

Hakuna matata
HAnuman ji

In [327]:
def name():
    print("Hakuna matata")
    print("HAnuman ji")
print("krishna")
name()

krishna
Hakuna matata
HAnuman ji

In [329]:
def abc(height):
    print("effiel tower height is", height)
print("Welcome")

Welcome

In [330]:
abc(1000)

effiel tower height is 1000

In [331]:
abc("1000")

effiel tower height is 1000

In [332]:
type(abc)

function

In [344]:
def Khushi(name,age,city):
    print("boyfriend",name)
    print("Age",age)
    print("city",city)

In [345]:
Khushi("Kunal",21,"Kanpur")

boyfriend Kunal
Age 21
city Kanpur

In [346]:
def maths():
    v=int(input("enter number:"))
    return v

In [348]:
maths()

enter number:5

5

In [361]:
def add(a,b,*c):
    int(input("c="))
    print("sum",a+b)
def multiply(a,b):
    print("multiply",a*b)

In [362]:
a1=20
a2=30
add(a1,a2)

c=45
sum 50

In [357]:
multiply(a1,a2)

multiply 600

In [395]:
def add(*L):
    L=list(L)
    print(int(L)*int(L))

In [397]:
add("20")

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [383]:
def add(a,b,c):
    print(a+b+c)

In [384]:
add(45,34,52)

131

In [385]:
a=100,30,20

In [386]:
type(a)

tuple

In [389]:
a=100,20

In [390]:
type(a)

tuple

In [391]:
a

(100, 20)

In [393]:
a=list(a)

In [394]:
a

[100, 20]

In [398]:
def kunal(age=0,number=0):
    print("age",age)
    print("num",number)

In [399]:
kunal(10)

age 10
num 0

In [400]:
kunal(21,90)

age 21
num 90

In [402]:
kunal()

age 0
num 0

In [403]:
a=15
b=51
c=100
print(a,b,c)

15 51 100

In [404]:
d=a,b,c

In [405]:
type(d)

tuple

In [406]:
e,f,g=54,45,85

In [407]:
type(e)

int

In [409]:
def name(sname,fname):
    print(fname+" "+sname)
my="Kunal"
no="Chaudhary"
name(no,my)

Kunal Chaudhary

In [429]:
def outer():
    print("this is outer function")
    def inner():
        print("this is inner function")
    return inner
f=outer()

this is outer function

In [424]:
f()

this is inner function

In [425]:
outer()

this is outer function

In [427]:
f()

this is inner function

In [430]:
f=outer()

this is outer function

In [441]:
def kid(*data):
    print(data+data)

In [442]:
kid(21,32,46)

(21, 32, 46, 21, 32, 46)

In [446]:
def mydata(**data):
    print(data["fname"])

In [447]:
mydata(lname="Singh",fname="Kunal")

Kunal

In [455]:
l=[2,3,5,6,7,8,9]
def x():
    for i in l:
        print(i)

In [456]:
x()

2
3
5
6
7
8
9

# module &package

In [19]:
from khh import kusi

In [20]:
kusi()

TypeError: 'module' object is not callable

In [10]:
def h():
    print("Hello")
    print("How are you")
h()

Hello
How are you

In [ ]:
h()

In [ ]:
import kusi