In [ ]:
l=[]
e=int(input())
i=int(input())
l.insert(e,i)
print(l)

In [1]:
l=[1,23,4,3,64]

In [2]:
print(l)

[1, 23, 4, 3, 64]

In [ ]:
a=10

In [ ]:
b=5

In [ ]:
a//b

In [ ]:
n=int(input())
l=[]
def l(i,e):
    print("insert",i,e)
    
i=int(input())
e=int(input())
l(i,e)
print("insert")
l.insert(i,e)
print(l)
l.remove()
l.append()
l.append()
l=l.sort()
print(l)
l.pop()
l=l.sort(reverse=True)
print(l)

In [3]:
l=[34,325,4534,62,45,1324]
def l(i,e):
    l.insert(i,e)
i=int(input())
e=int(input())
l(i,e)

1
5

AttributeError: 'function' object has no attribute 'insert'

In [6]:
def name(fname,sname):
    print("my name is",fname)
fname="Kunal"
sname="chaudhary"
name(fname,sname)

my name is Kunal

In [11]:
fname.swapcase()

'kUNAL'

In [22]:
def main(fname,sname):
    print("This is my secondary name",sname)
    def inner(fname):
        print("this is my name",fname)
    return inner

f=main(fname,sname)

This is my secondary name chaudhary

In [28]:
f(fname)

this is my name Kunal

In [31]:
f(fname)

this is my name Kunal

In [32]:
f=main(fname,sname)

This is my secondary name chaudhary

In [37]:
def add(a,b):
    return a+b
def mult(a,b):
    return a*b
def sub(a,b):
    return a-b
def div(a,b):
    return a/b

In [42]:
a=128
b=20

In [40]:
add(a,b)

140

In [43]:
div(a,b)

6.4

In [45]:
import datetime

In [49]:
x=datetime.datetime.now()
print(x)

2021-05-17 16:25:58.391326

In [51]:
print(x.year)

2021

In [54]:
print(x.strftime("%A"))

Monday

In [62]:
x=datetime.datetime(2012,2,17) # year-month-date format
print(x)

2012-02-17 00:00:00

In [57]:
print(x.year)

2021

In [87]:
x=datetime.datetime(2021,2,19)
print(x.strftime("%A"))

Friday

In [59]:
x

datetime.datetime(2021, 5, 17, 16, 30, 58, 136182)

In [83]:
#strf format is to make date things into readable format
# "A" for days 
#"B" for month
#"D"-prints in month/date/year format

In [88]:
print(x.strftime("%w"))

5

In [89]:
#write python program to print calender of the month

In [91]:
import datetime
x=datetime.datetime.now()

In [92]:
print(x)

2021-05-17 16:43:07.973179

In [106]:
x=datetime.date(2021,5,17)
print(x.strftime("%A"))

Monday

In [105]:
print(x.strftime("%w"))

1

In [108]:
import calendar

In [110]:
for days in calendar.day_name:
    print(days)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [111]:
for months in calendar.month_name:
    print(months)

January
February
March
April
May
June
July
August
September
October
November
December

In [285]:
for months in calendar.month_name:
    print(months)

January
February
March
April
May
June
July
August
September
October
November
December

In [122]:
import calendar
n=int(input("Year="))
c=calendar.TextCalendar(calendar.SUNDAY)
for i in range(1,13):
    str=c.formatmonth(n,i)
    print(str)

Year=2020
    January 2020
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

   February 2020
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29

     March 2020
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

     April 2020
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

      May 2020
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     June 2020
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

     July 2020
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

    August 2020
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

   September 2020
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

    October 2020
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   November 2020
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

   December 2020
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [124]:
import calendar
yy=2021
mm=12
print(calendar.month(yy,mm))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [125]:
A=input()
A=A.swapcase()
print(A)

Kunal
kUNAL

In [141]:
A="Kunal Singh is good boy"
print(A)

Kunal Singh is good boy

In [142]:
A=A.split()

In [143]:
print(A)

['Kunal', 'Singh', 'is', 'good', 'boy']

In [144]:
A.join("-")

AttributeError: 'list' object has no attribute 'join'

In [146]:
type(A)

list

In [147]:
A=set(A)

In [148]:
type(A)

set

In [149]:
A

{'Kunal', 'Singh', 'boy', 'good', 'is'}

In [157]:
A=list(A)
print(A)

['Singh', 'good', 'boy', 'is', 'Kunal']

In [158]:
str="-"
str.join(A)

'Singh-good-boy-is-Kunal'

In [159]:
A="Kunal is a good boy"
B=A.split()
A="-"
A.join(B)

'Kunal-is-a-good-boy'

In [160]:
type(A)

str

In [162]:
str.update(k,5)

AttributeError: 'str' object has no attribute 'update'

In [163]:
A="Hrithikchaudhary"
print(A)

Hrithikchaudhary

In [164]:
A[5]

'i'

In [166]:
A=list(A)

In [172]:
r=5
A.insert(r,5)

In [173]:
print(A)

['H', 'r', 'i', 't', 'h', 5, 'i', 'k', 'c', 'h', 'a', 'u', 'd', 'h', 'a', 'r', 'y']

In [180]:
A="abcdefghijk"

In [181]:
len(A)

11

In [182]:
type(A)

str

In [183]:
A=list(A)

In [184]:
A[5]='z'

In [185]:
print(A)

['a', 'b', 'c', 'd', 'e', 'z', 'g', 'h', 'i', 'j', 'k']

In [186]:
len(A)

11

In [187]:

A.insert(5)

TypeError: 'str' object cannot be interpreted as an integer

In [188]:
A="abcdabckfgab"
B="ab"
C=" "
for i in A:
    if B in A:
        C.append(i)
print(C)

AttributeError: 'str' object has no attribute 'append'

In [193]:
def myfun():
    x=300
    print("i am function")
    def myinfun():
        print(x)
        print("this in other function")
    return myinfun()
myfun()

i am function
300
this in other function

In [194]:
a=10
print(a)

10

In [195]:
print(id(a))

140730090627760

In [196]:
print(id(10))

140730090627760

In [197]:
id(a)

140730090627760

In [203]:
isinstance(a,bool)

False

In [215]:
class Kunal:
    def love(self): #self is the object which we are passing
        print("i love Khushi")
class Khushi:
    def love(self):
        print("i love myself")

about1=Kunal()
about2=Khushi()
print(Khushi.love(about)) #about is an argument

i love myself
None

In [216]:
about1.love()

i love Khushi

In [217]:
about2.love()

i love myself

In [218]:
A=10

In [220]:
print(bin(A)) #converts decimal to binary

0b1010

In [221]:
0b1010 # to decimal format

10

In [222]:
oct(10) #to octal format

'0o12'

In [223]:
hex(10) # to hexadecimal

'0xa'

In [224]:
a=5
b=6
a,b=b,a
print(a)

6

In [225]:
print(b)

5

In [267]:
n= int(input())
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
else:
    print("prime")

45
not prime

In [270]:
def prime(num):
    for n in range(2,num):
            for i in range(2,n):
                if n%i==0:
                    break
            else:
                print(n)

In [271]:
prime(15)

2
3
5
7
11
13

In [246]:
for i in range(4):
    for j in range(4):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [272]:
from array import *

In [275]:
val=array('i',[1,2,3,4,5,6,7])
print(val.buffer_info()) #buffer_info gives address, the size of the array

(2295768284528, 7)

In [283]:
import datetime
x=datetime.date(2021,2,20)
print(x.strftime("%A"))

Saturday

In [293]:
#fibonacci number printing
a=int(input("Enter the first number="))
n=int(input("Enter how many numbers you need="))
def fab(a,n):
    b=a+1
    if n==1:
        print(a)
    else:
        print(a)
        print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)        
fab(a,n)

Enter the first number=0
Enter how many numbers you need=10
0
1
1
2
3
5
8
13
21
34

In [299]:
import math
math.factorial(10)

3628800

In [300]:
import math
n=int(input())
x=math.factorial(n)
for i in x:
    if x%i==0:
        print(i)

5

TypeError: 'int' object is not iterable

In [325]:
#factorial number printing # 5!=1*2*3*4*5
n=int(input("Enter the number you want factorial of="))
def fab(n):
    f=1
    for i in range(1,n+1):
        f=f*i
        print(f)
    
fab(n)

Enter the number you want factorial of=4
1
2
6
24

In [321]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
x=5
result = fact(x)
print(result)

120

In [330]:
# recursion
import sys 
print(sys.getrecursionlimit())
i=0
def rec():
    global i
    i+=1
    print("hey babe",i)
    rec()

3000

In [333]:
#factorial using recursion function
def fac(n):
    if n==0:
        return 1
    return n* fac(n-1)

    
result=fac(6)
print(result)

720

In [335]:
def square(a):
    return a*a
print(square(7))

49

In [339]:
# lambda is the anonymous function or we can say it is a function without name 
f=lambda a:a*a

In [337]:
f(3)

9

In [338]:
f(9)

81

In [340]:
d=lambda a,b,c:a+b+c

In [341]:
d(3,4,5)

12

In [5]:
l=[]
for i in range(100):
    l.append(i)

In [6]:
f=lambda n:n%2==0
d=lambda n:n%2==1

In [7]:
evens=list(filter(f,l)) # filter is a inbuilt keyword which filters all the given instruction but it need
                        #       two arguments that is a operation and second the target

In [8]:
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [9]:
odds=list(filter(d,l))
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [355]:
# we can simply put the function in filter also insteed of assigning it to a variable 
multiple=list(filter(lambda n:n%5==0,l))
print(multiple)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [358]:
double=list(map(lambda n:n*2,evens))
print(double)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196]

In [11]:
from functools import reduce
total=reduce((lambda a,b:a*b),odds)
print(total)

2725392139750729502980713245400918633290796330545803413734328823443106201171875

In [372]:
sum(odds)

2500

In [374]:
A=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [377]:
A[1][0]

1

In [400]:
L=[]
for i in A:
    L.append(i)

print(L)

[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [393]:
i

(2, 1)

In [395]:
print(L.sort())

None

The code below is a doubt

In [1]:

def last(n):
    return n[m]  
   
# function to sort the tuple   
def sort(tuples):
  
    # We pass used defined function last
    # as a parameter. 
    return sorted(tuples, key = last)
   
# driver code  
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
m = 1
print("Sorted:")
print(sort(a))

Sorted:
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
def main():
    print("Kunal Singh Teotia")
if __name__=="__main__":
    main()

Kunal Singh Teotia

In [4]:
import main

ModuleNotFoundError: No module named 'main'

In [ ]:
def part():
    p=[]
    
    
    
    
def main():
    for i in range(N):
        L.append(part)
        
if __name__=='__main__':
    
    L=[]