In [4]:
import sqlite3

In [5]:
import os

In [6]:
os.getcwd()

'C:\\Users\\kunal_35vy2xh\\Desktop\\mapping skills'

In [7]:
con=sqlite3.connect('abc.db')

In [8]:
c=con.cursor()

In [9]:
c.execute("CREATE TABLE emp(name,age,salary)")

OperationalError: table emp already exists

In [10]:
c.execute("INSERT INTO emp VALUES('Kunal',22,10000)")

In [11]:
con.commit

In [12]:
con.close

In [13]:
c.execute("select * from emp")
d=c.fetchall()
print(d)

[('Kunal', 22, 10000)]

In [14]:
c.execute("INSERT INTO emp VALUES('Hrithik',21,20000)")

In [15]:
c.execute("INSERT INTO emp VALUES('Khushi',20,5000)")

In [21]:
c.execute("select *from emp")
d=c.fetchall()

In [22]:
print(d)

[('Kunal', 22, 10000), ('Hrithik', 21, 20000), ('Khushi', 20, 5000)]